{% extends 'base/base.html' %}
{% load static custom_tags %}


{% block title %}
    Changelog
{% endblock %}

{% block body %}
    <div class="container" style="color: white;padding-top: 3em;padding-left: 5em;padding-right: 5em;">
        <div class="row">
            <div class="col-xl-auto">
                <h1 class="mr-auto d-inline" style="font-family: poppins, sans-serif">changelogged<span
                        style="color: #03cb98">.</span></h1>
                <hr style="background-color: white">
                <h6>What's new in Backlogged {% github_release 'tag' %}:</h6>
                {% autoescape off %}
                    {% github_release 'body'|linebreaksbr %}
                {% endautoescape %}
            </div>
        </div>
    </div>
{% endblock %}