{% extends 'base/formview_base.html' %}
{% load static %}

{% block title %}
    Add Game
{% endblock %}

{% block body %}
    <div class="container-xl" style="display:flex;flex-direction:column;justify-content:center;align-items:center;height:80vh;color:white">
        <div class="row">
            <div class="col-xl" style="padding-bottom: 10px">
                <h1>Add a game</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xl">
                <form action="{% url 'add-game-search' %}" method="get">
                    <div class="input-group">
                        {{ search_form.query }}
                        <div class="input-group-append">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row" style="padding-top: 10px">
            <p>or, <a href="{% url 'add-custom-game' %}">make your own game entry</a></p>
        </div>
    </div>
{% endblock %}