{% extends 'base/base.html' %}
{% load static %}


{% block title %}
    {{ game.name }}
{% endblock %}

{% block body %}
    <div class="container-fluid"
         style="display: flex;flex-direction:column;justify-content: center;align-items: center;height: 80vh;color: white">
        <div class="row">
            <div class="col-auto">
                <img src="{% if not game.is_custom %} {{ game.cover_url }} {% else %} {% static game.cover_url %} {% endif %}"
                     alt="" class="rounded mr-auto">
            </div>
            <div class="col-auto">
                <p>
                    <b>{{ game.name }}</b>
                    {% if game.status_id == 1 %}
                        <span style="padding-left: 3px;">
                            <span class="badge badge-pill badge-success text-white">Backlog</span>
                        </span>
                    {% elif game.status_id == 2 %}
                        <span style="padding-left: 3px;">
                            <span class="badge badge-pill badge-info text-white">Now Playing</span>
                        </span>
                    {% endif %}
                    {% if game.is_custom %}
                        <span>
                            <span class="badge badge-pill badge-warning text-white" data-toggle="tooltip"
                                  data-placement="top" title="You created this game entry from scratch.">Custom</span>
                        </span>
                    {% endif %}
                    <br>
                    {{ game.involved_companies }}
                </p>
                <hr style="background-color: white">
                {% if game.full_summary %}
                    <p>
                        {% if game.short_summary %}
                            <b>Summary:</b> {{ game.short_summary|linebreaksbr }}
                            <a href="#" data-toggle="modal" data-target="#fullSummary">Read more</a>
                        {% else %}
                            <b>Summary:</b> {{ game.full_summary|linebreaksbr }}
                        {% endif %}
                    </p>
                    {% if game.short_summary %}
                        <div class="modal fade" id="fullSummary" tabindex="-1" aria-labelledby="fullSummary"
                             aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content bg-dark">
                                    <div class="modal-header bg-dark">
                                        <h5 class="modal-title">{{ game.name }}</h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="close">
                                            <span aria-hidden="true" style="color: white">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        {{ game.full_summary|linebreaksbr }}
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <hr style="background-color: white">
                {% endif %}

                {# ADD GAME MODE #}
                {% if not game_entry_exists %}
                    <p>
                        <b style="padding-bottom: 10px">What platform do you have this game on?</b>
                        <br>
                    </p>
                    <form action="{% url 'game-info' game.id %}" method="post">
                        {% csrf_token %}
                        {{ form.platform }}
                        <button id="addButton" type="submit" class="btn btn-outline-success" name="update_mode"
                                value="add"><span
                                id="buttonText">Add to my backlog</span>
                        </button>
                        <br>
                        {% if num_now_playing < 10 %}
                            <p class="pt-2">{{ form.now_playing }} I'm playing this game now</p>
                        {% else %}
                            <div class="d-inline-block" data-placement="top" data-toggle="tooltip"
                                 title="{{ now_playing_message }}">
                                <p class="pt-2">{{ form.now_playing }}</p>
                            </div>
                            I'm playing this game now
                        {% endif %}
                    </form>
                    {# END ADD GAME MODE #}

                {% else %}

                    {# CHANGE GAME PLATFORM MODE #}
                    {% if changing_platform %}
                        <p>
                            <b style="padding-bottom: 10px">Select a new platform:</b>
                            <br>
                        </p>
                        <form action="{% url 'game-info' game.id %}" method="post">
                            {% csrf_token %}
                            {{ form.platform }}
                            <button id="addButton" type="submit" class="btn btn-outline-warning" name="update_mode"
                                    value="platform_update"><span
                                    id="buttonText">Change platform</span>
                            </button>
                            <a href="{% url 'backlog' %}" class="btn btn-outline-danger">Cancel</a>
                        </form>
                        {# END CHANGE GAME PLATFORM MODE #}

                    {% else %}

                        {# EDIT GAME DETAILS MODE #}
                        <p>
                            This game is in your {{ recorded_status }} for <b>{{ recorded_platform_name }}</b>.
                            <br>
                        </p>
                        <form action="{% url 'game-info' game.id %}" method="post">
                            {% csrf_token %}
                            {% if recorded_status == "backlog" %}
                                {% if num_now_playing < 10 %}
                                    <button type="submit" name="update_mode" value="move" class="btn btn-outline-info">
                                        Move to Now Playing
                                    </button>
                                {% else %}
                                    <button class="btn btn-outline-info disabled" data-placement="top"
                                            data-toggle="tooltip" title="{{ now_playing_message }}">
                                        Move to Now Playing
                                    </button>
                                {% endif %}
                            {% else %}
                                <button type="submit" name="update_mode" value="move" class="btn btn-outline-success">
                                    Move to my backlog
                                </button>
                            {% endif %}
                            {% if not game.is_custom %}
                                {% if multiple_platforms_exist %}
                                    <button type="submit" name="update_mode" value="change_platform"
                                            class="btn btn-outline-warning">
                                        Change platform
                                    </button>
                                {% else %}
                                    <button class="btn btn-outline-warning disabled" data-placement="top"
                                            data-toggle="tooltip"
                                            title="This game is only available on {{ recorded_platform_name }}.">
                                        Change platform
                                    </button>
                                {% endif %}
                            {% else %}
                                <button type="submit" name="update_mode" value="edit_custom"
                                        class="btn btn-outline-warning">
                                    Edit game details
                                </button>
                            {% endif %}
                            <button type="submit" name="update_mode" value="remove" class="btn btn-outline-danger">
                                Remove game
                            </button>
                        </form>
                    {% endif %}
                    {# END EDIT GAME DETAILS MODE #}

                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block additional_js %}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

        function statusToggle() {
            const checkbox = document.getElementById("npCheckbox"), button = document.getElementById("addButton"),
                buttonText = document.getElementById("buttonText");

            if (checkbox.checked === true) {
                button.className = "btn btn-outline-info";
                buttonText.innerText = "Add to Now Playing";
            } else {
                button.className = "btn btn-outline-success";
                buttonText.innerText = "Add to my backlog";
            }
        }
    </script>
{% endblock %}
