{% extends 'base.html' %}
{% load static %}

{% block title %}
    Account Settings
{% endblock %}

{% block body %}
    <div class="container-fluid"
         style="display: flex;justify-content: center;align-items: center;height: 85vh;color: white">
        <div class="d-flex flex-column">
            <h1>Account Settings</h1>
            <hr style="background-color:white;border: solid 1px white;width: 15em">
            <div class="d-flex flex-row" style="display: flex;justify-content: center;padding-top: 10px">
                <a href="{% url 'change-username' %}" class="btn btn-secondary">Change username</a>
            </div>
            <div class="d-flex flex-row" style="display:flex;justify-content: center;padding-top: 10px">
                <a href="{% url 'change-password' %}" class="btn btn-secondary">Change password</a>
            </div>
            <div class="d-flex flex-row" style="display:flex;justify-content: center;padding-top: 10px">
                <a href="{% url 'change-time-zone' %}" class="btn btn-secondary">Change time zone</a>
            </div>
            <div class="d-flex flex-row" style="display: flex;justify-content: center;padding-top: 10px">
                <a href="{% url 'delete-account-prompt' %}" class="btn btn-danger">Delete account</a>
            </div>
        </div>
    </div>
{% endblock %}