{% extends 'base.html' %}
{% load static %}

{% block title %}
    Access Forbidden
{% endblock %}

{% block body %}
    <div class="container-fluid"
         style="display: flex;justify-content: center;align-items: center;height: 85vh;color: white">
        <div class="d-flex flex-column">
            <h1 style="display: flex;justify-content: center;align-items: center">You're not allowed to do that.</h1>
            <br>
            <h5 style="display: flex;justify-content: center;align-items: center;text-align: center">The page you're
                trying to access is
                restricted.</h5>
            <br>
            <div class="d-flex flex-row" style="display: flex;justify-content: center;padding-bottom: 10px">
                <a href="{% url 'backlog' %}" class="btn btn-outline-warning">Get me out of here</a>
            </div>
        </div>
    </div>
{% endblock %}